
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*@{ 
    var messageList = MessageB

}*@

<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Message/GetMessageList",
            type : "GET",
            success: function (response) {
                console.log(response)                

            },
            error: function (e,er) {
                console.log(e +"." + er)
            }
        });
    });
</script>

